.header {
  margin-top: 10px;
  padding: 10px;
  height: 40px;
}
.header .col-sm-4 {
  float: right;
  margin-right: 50px;
}
.fa {
  margin-left: 5px;
  margin-right: 5px;
  max-width: 25%;
}
.btn {
  margin-left: 10px;
  margin-right: 10px;

  padding: 5px;
  font-size: 20px;
}
.second-section {
  margin-top: 20px;
  margin-bottom: 0px;
  padding: 20px;
  width: 100%;
  height: 100px;
  border-top: 1px solid rgb(201, 197, 197);
  background-color: rgb(236, 233, 233);
}
.second-section .col-sm-4 img {
  margin-left: 100px;
}
.col-sm-8 .btn-light {
  padding: 10px;
  width: 70px;
  border: 1px solid grey;
  font-weight: bold grey;
  font-size: 12px;
}
.col-sm-8 .btn-light:hover {
  background-color: #157347;
  color: white;
}

.blog-section {
  width: 100%;
  height: auto;
  background-color: azure;

  margin-top: 20px;
}
.blog-section h2 {
  text-align: center;
  margin-top: 30px;
  font-weight: 500;
  color: black;
}
.blog-section ul {
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
  color: black;
}
.blog-section ul li {
  font-size: 12px;
}

.map-container-6 {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
.map-container-6 iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.add-info {
  text-align: center;
  font-size: 12px;
  padding: 20px;
  margin-top: 10px;
  border: 3px solid rosybrown;
  border-radius: 20px;
  box-shadow: 22px;
}
.footer {
  width: 100%;
  height: auto;
  background-color: black;
  opacity: 0.9;
  margin-top: 50px;
  color: white;
}
.footer .row {
  margin-left: 100px;
}
.col-md-4 {
  flex: 0 0 33.333333%;
  max-width: 33.33%;
}
.para {
  margin-right: 5px;
  float: right;
  font-weight: 500;
  text-align: justify;
  font-size: 12px;
  color: rgb(151, 146, 146);
  text-indent: 20px;
  line-height: 22px;
}
.link {
  float: left;
  font-weight: 500;
  text-align: justify;
  font-size: 12px;
  color: white;
  text-decoration: none;
  text-indent: 20px;
  line-height: 30px;
}
.list-unstyled li {
  width: 100%;
  margin-left: 10px;
  border-bottom: 1px solid grey;
}

body {
  background: #eee;
}

#regForm {
  background-color: #ffffff;
  margin: 0px auto;
  font-family: Raleway;
  padding: 40px;
  border-radius: 10px;
}

h1 {
  text-align: center;
}

input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

input.invalid {
  background-color: #ffdddd;
}

.tab {
  display: none;
}

button {
  background-color: #4caf50;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

#prevBtn {
  background-color: #bbbbbb;
}

.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

.step.finish {
  background-color: #4caf50;
}

.all-steps {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.thanks-message {
  display: none;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input[type="radio"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

.container:hover input ~ .checkmark {
  background-color: #ccc;
}

.container input:checked ~ .checkmark {
  background-color: #2196f3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.address {
  float: left;
  font-weight: 500;
  font-size: 12px;
  color: grey;
  text-decoration: none;
  text-indent: 20px;
  line-height: 25px;
}
.copyright {
  width: 100%;
  height: 50px;
  color: #fff;
}
.container-copy {
  margin-right: 160px;
  margin-left: 140px;
}
