.header {
  margin-top: 10px;
  padding: 10px;
  height: 40px;
}
.header .col-sm-4 {
  float: right;
  margin-right: 50px;
}
.fa {
  margin-left: 5px;
  margin-right: 5px;
  max-width: 25%;
}
.btn {
  margin-left: 10px;
  margin-right: 10px;

  padding: 5px;
  font-size: 20px;
}
.second-section {
  margin-top: 20px;
  margin-bottom: 0px;
  padding: 20px;
  width: 100%;
  height: 100px;
  border-top: 1px solid rgb(201, 197, 197);
  background-color: rgb(236, 233, 233);
}
.second-section .col-sm-4 img {
  margin-left: 100px;
}
.col-sm-8 .btn-light {
  padding: 10px;
  width: 70px;
  border: 1px solid grey;
  font-weight: bold grey;
  font-size: 12px;
}
.col-sm-8 .btn-light:hover {
  background-color: #157347;
  color: white;
}
.third-section {
  margin-top: 5px;
  width: 100%;
}
.carousel-item img {
  height: 400px;
  width: 100%;
  margin-top: 10px;
}
.carousel-item h1 {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 200px;
}
.first {
  margin-right: 5px;
  padding: 5px;
  height: 400px;
  float: right;
  font-weight: 500;
  text-align: justify;
  font-size: 12px;
  color: rgb(151, 146, 146);
  text-indent: 20px;
  line-height: 22px;
}
.first h2 {
  max-width: 75%;

  margin-left: 120px;
}
.first p {
  max-width: 75%;
  float: right;
}
.fourth-section {
  height: auto;
  width: 100%;
  background-color: rgb(233, 227, 227);
  margin-top: 0;
}
.parent {
  height: 200px;
  width: 80%;

  margin: 10px;
  margin-left: 30px;

  display: flex;
}
.child {
  width: 270px;

  height: 180px;
  margin: 10px;

  background-color: rgb(253, 247, 247);
  border: 1px solid rgb(241, 226, 226);
  border-radius: 15px;
  box-shadow: 10;
}
.child h4 {
  text-align: center;
  margin: 5px;
  padding: 5px;
}

.child .glyphicon {
  margin-top: 50px;
  margin-left: 70px;
}
.child:hover {
  zoom: 1.05;
  cursor: pointer;
}
.fifth-section {
  width: 100%;
  height: auto;
  background-color: white;
  margin-top: 20px;
}
.fifth-section img {
  width: 85%;
  height: 70%;
  margin-top: 40px;
}
.sixth-section img {
  width: 85%;
  height: 70%;
  margin-top: 40px;
  margin-left: 140px;
}
.sixth-section .first {
  margin-left: 0;
  margin-right: 90px;
}
.seventh-section {
  width: 100%;
  height: auto;
  background-color: rgb(248, 244, 244);
}
.seventh-section h1 {
  text-align: center;
  font-weight: bold;
  color: rgb(168, 161, 161);
  margin-top: 20px;
  padding: 50px;
  padding-bottom: 0px;
}
.seventh-section h6 {
  margin: 10px;
  text-align: center;
  color: rgb(168, 161, 161);
}
.event-box-one {
  max-width: 100%;
  margin-left: 140px;
}
.event-box-one img {
  height: 200px;
  width: 100%;
  margin-left: 10px;
  padding: 20px;
}
.event-box-one h4,
p {
  text-align: center;
}
.event-box-one .btn {
  margin-left: 90px;
  cursor: pointer;
  font-size: 12px;
}
.event-box-two {
  max-width: 100%;
  margin: 10px;
}
.event-box-two img {
  height: 300px;
  width: 100%;
  margin-left: 10px;
  padding: 20px;
}
.event-box-two h4,
p {
  text-align: center;
}
.event-box-two .btn {
  margin-left: 150px;
  cursor: pointer;
  font-size: 12px;
}
.event-box-three {
  max-width: 100%;

  margin-right: 100px;
}
.event-box-three img {
  height: 200px;
  width: 100%;

  padding: 20px;
}
.event-box-three h4,
p {
  text-align: center;
}
.event-box-three .btn {
  margin-left: 120px;
  font-size: 12px;
  cursor: pointer;
}
.number-section {
  background-color: rgb(36, 34, 34);
  width: 100%;
  height: 400px;
  opacity: 1;
}
.title {
  color: white;
  font-size: bold;
  text-align: center;
  padding: 80px;
}
.row {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.numb {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  padding: 20px;
  color: #fff;
}
.numb h3 {
  text-align: center;
  font-size: 30px;

  border-bottom: 0.5px solid white;
  width: 100%;
}
.team-section {
  height: auto;
  width: 100%;
  background-color: beige;
}
.team-title h1 {
  padding-top: 100px;
  padding-bottom: 50px;
  text-align: center;
  color: rgb(139, 126, 126);
}
.member-img {
  width: 100%;
  vertical-align: middle;
  border-style: none;
}
.video-section {
  width: 100%;
  height: 450px;
  background-color: antiquewhite;
  margin-top: 20px;
}
.video-section h1 {
  text-align: center;
  color: grey;
  padding-top: 50px;
  padding-bottom: 20px;
}
.card-row {
  margin-left: 100px;
  margin-right: 80px;
  padding: 10px;
}
.card {
  margin: 10px;
}
.footer {
  width: 100%;
  height: auto;
  background-color: black;
  opacity: 0.9;
  margin-top: 50px;
  color: white;
}
.footer .row {
  margin-left: 100px;
}
.col-md-4 {
  flex: 0 0 33.333333%;
  max-width: 33.33%;
}
.para {
  margin-right: 5px;
  float: right;
  font-weight: 500;
  text-align: justify;
  font-size: 12px;
  color: rgb(151, 146, 146);
  text-indent: 20px;
  line-height: 22px;
}
.link {
  float: left;
  font-weight: 500;
  text-align: justify;
  font-size: 12px;
  color: white;
  text-decoration: none;
  text-indent: 20px;
  line-height: 30px;
}
.list-unstyled li {
  width: 100%;
  margin-left: 10px;
  border-bottom: 1px solid grey;
}
.address {
  float: left;
  font-weight: 500;
  font-size: 12px;
  color: grey;
  text-decoration: none;
  text-indent: 20px;
  line-height: 25px;
}
.copyright {
  width: 100%;
  height: 50px;
  color: #fff;
}
.container-copy {
  margin-right: 160px;
  margin-left: 150px;
}
